<header id="home">

    <div class="head-image bg-image" data-bg-image="assets/images/head-image.jpg">
        <div class="avatar wow bounceInDown" >
            <img alt="avatar" src="assets/images/avatar.jpg" />
        </div>
    </div>

    <div class="sticky-paper-head has-shadow">
        <div class="content">
            <div class="social-icons">
                <ul>
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-github" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12  nav-menu top-menu-holder">
        <nav class="hidden-xs visible-lg ">
            <ul class="nav">
                <li class="active">
                    <a  href="index.html#home">home</a>
                </li>
                <li>
                    <a  href="#profile">profile</a>
                </li>
                <li>
                    <a  href="#education">education</a>
                </li>
                <li>
                    <a  href="#experiences">experiences</a>
                </li>
                <li>
                    <a  href="#skills">skills</a>
                </li>
                <li>
                    <a  href="#portfolio">portfolio</a>
                </li>
                <li>
                    <a  href="#blog">blog</a>
                </li>
                <li>
                    <a  href="#contact">contact</a>
                </li>


            </ul>

        </nav>

        <select class="top-drop-menu nav visible-md visible-sm visible-xs hidden-lg">
            <option value="#home" selected="selected">
                Home
            </option>

            <option value="#profile">
                Profile
            </option>
            <option value="#education">
                Education
            </option>
            <option value="#experiences">
                Experiences
            </option>

            <option value="#skills">
                Skills
            </option>

            <option value="#portfolio">
                Portfolio
            </option>

            <option value="#contact">
                Contact
            </option>

        </select>
    </div>

</header>