<section id="skills" >
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>skills</h1>
        </div>
    </div>

    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="timeline-holder wow bounceInUp" >
                        <div id="skills-head" class="timeline-head">
                            <div class="icon">
                                <i class="fa  fa-tasks"></i>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <div class="skill-holder timeline-item">

                                <div class="skill-item left">
                                    <div class="skill"  data-text="Linux" data-info="Lorem ipsum dolor sit amet"   data-percent="0"   data-fill="#272425"></div>
                                </div>

                                <div class="event-content timeline-content right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                        Vivamus tristique <strong>rhoncus enim</strong>. Curabitur varius est quis sollicitudin volutpat.

                                    </p>
                                </div>

                            </div>


                            <div class="skill-holder timeline-item">



                                <div class="event-content timeline-content left">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                        <strong>Vivamus</strong> tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.

                                    </p>
                                </div>

                                <div class="skill-item right">
                                    <div class="skill"  data-text="85%" data-info="HTML"   data-percent="85"   data-fill="#272425"></div>
                                </div>

                            </div>


                            <div class="skill-holder timeline-item">

                                <div class="skill-item left">
                                    <div class="skill"  data-text="75%" data-info="CSS"   data-percent="75"   data-fill="#272425"></div>
                                </div>

                                <div class="event-content timeline-content right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus laoreet <strong>dolor metus</strong>, eu ullamcorper turpis ornare tincidunt.
                                        Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.

                                    </p>
                                </div>

                            </div>

                            <div class="skill-holder timeline-item">


                                <div class="event-content timeline-content left">
                                    <p>
                                        Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipiscing elit.
                                        Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                        Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.

                                    </p>
                                </div>

                                <div class="skill-item right">
                                    <div class="skill"  data-text="65%" data-info="jQuery"   data-percent="65"   data-fill="#272425"></div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>