<section id="profile" >
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>profile</h1>
        </div>
    </div>
    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="timeline-holder wow bounceInUp">
                        <div class="timeline-head">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <div class="profile-item timeline-item">
                                <div class="icon-item left">
                                    <div class="circular-icon ">
                                        <i class="fa fa-child"></i>
                                    </div>
                                </div>

                                <div class="profile-content timeline-content right">
                                    <label>full name</label>
                                    <div class="value">katie amy doe</div>
                                </div>

                            </div>

                            <div class="profile-item timeline-item">
                                <div class="icon-item right">
                                    <div class="circular-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>

                                </div>
                                <div class="profile-content timeline-content left">
                                    <label>email address</label>
                                    <div class="value">info@example.com
                                    </div>
                                </div>

                            </div>

                            <div class="profile-item timeline-item">
                                <div class="icon-item left">
                                    <div class="circular-icon">
                                        <i class="fa fa-birthday-cake"></i>
                                    </div>

                                </div>
                                <div class="profile-content timeline-content right">
                                    <label>birthday</label>
                                    <div class="value">18/11/1986</div>
                                </div>

                            </div>


                            <div class="profile-item timeline-item">
                                <div class="icon-item right">
                                    <div class="circular-icon ">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>

                                <div class="profile-content timeline-content left">
                                    <label>Phone</label>
                                    <div class="value">+90 123 456 9876</div>
                                </div>

                            </div>


                            <div class="profile-item timeline-item">
                                <div class="icon-item left">
                                    <div class="circular-icon left">
                                        <i class="fa fa-code"></i>
                                    </div>

                                </div>
                                <div class="profile-content timeline-content right">
                                    <label>Availability</label>
                                    <div class="value">Not available for Full-Time</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="interests-holder">
                        <div class="interests-row medium">
                            <ul>
                                <li class="wow bounceInDown" data-wow-delay="0.1s" >
                                    <i class="fa fa-code"></i>
                                    <span>Coding</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.2s">
                                    <i class="fa fa-cutlery"></i>
                                    <span>Foods</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.3s">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span>Science</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.4s">
                                    <i class="fa fa-leaf"></i>
                                    <span>Nature</span>
                                </li>
                            </ul>
                        </div>
                        <div class="interests-row big">
                            <ul>
                                <li class="wow bounceInDown" data-wow-delay="0.5s">
                                    <i class="fa fa-music"></i>
                                    <span>Music</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.6s">
                                    <i class="fa fa-plane"></i>
                                    <span>Travel</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.7s">
                                    <i class="fa fa-pencil"></i>
                                    <span>Writing</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.8s">
                                    <i class="fa fa-coffee"></i>
                                    <span>Coffee</span>
                                </li>
                            </ul>
                        </div>


                        <div class="title wow fadeIn"  >
                            <h1>hobbies & interests</h1>
                        </div>
                        <div class="interests-row big">
                            <ul>
                                <li class="wow bounceInDown" data-wow-delay="0.1s">
                                    <i class="fa fa-rocket"></i>
                                    <span>Space</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.2s">
                                    <i class="fa fa-road"></i>
                                    <span>road Trip</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.3s">
                                    <i class="fa fa-paw"></i>
                                    <span>dogs</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.4s">
                                    <i class="fa fa-paint-brush"></i>
                                    <span>art</span>
                                </li>
                            </ul>
                        </div>

                        <div class="interests-row medium">
                            <ul>
                                <li class="wow bounceInDown" data-wow-delay="0.5s">
                                    <i class="fa fa-music"></i>
                                    <span>Music</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.6s">
                                    <i class="fa fa-plane"></i>
                                    <span>Travel</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.7s">
                                    <i class="fa fa-pencil"></i>
                                    <span>Writing</span>
                                </li>
                                <li class="wow bounceInDown" data-wow-delay="0.8s">
                                    <i class="fa fa-coffee"></i>
                                    <span>Coffee</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>