<div data-smart-include="components/homePage/aboutMe/aboutMeView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/profile/profileView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/education/educationView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/experience/experienceView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/skills/skillsView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/portfolio/portfolioView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/blog/blogView.html"></div>

<hr class="le-hr">

<div data-smart-include="components/homePage/contact/contactView.html"></div>