<section id="education" >
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>education</h1>
        </div>
    </div>

    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="timeline-holder wow bounceInUp" >
                        <div class="timeline-head event-head">
                            <div class="icon">
                                <i class="fa fa-university"></i>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <div class="event-item timeline-item">

                                <div class="event-title left">
                                    <h1>information technology</h1>
                                    <h4>istanbul university</h4>
                                </div>


                                <div class="event-content timeline-content right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus <strong>laoreet</strong> dolor metus, eu ullamcorper turpis ornare tincidunt.
                                        Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.

                                    </p>
                                </div>

                            </div>


                            <div class="event-item timeline-item">
                                <div class="event-content timeline-content left">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt.
                                        Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.

                                    </p>

                                </div>
                                <div class="event-title right">
                                    <h1>graphic design</h1>
                                    <h4>izmir university</h4>
                                </div>




                            </div>


                            <div class="event-item timeline-item">

                                <div class="event-title left">
                                    <h1>webdesign master</h1>
                                    <h4>ankara university</h4>
                                </div>

                                <div class="event-content timeline-content right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet dolor metus, eu ullamcorper turpis ornare tincidunt. Vivamus tristique rhoncus enim. Curabitur varius est quis sollicitudin volutpat.
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>