<section id="info" class="big-name">
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>Elena Doe</h1>
            <div class="short-tag">
                frontend developer
            </div>
        </div>
    </div>
    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="le-paragraph">
                        <p>
                            <strong>Lorem ipsum dolor sit amet,</strong>
                            consectetur adipiscing elit. Nullam convallis lobortis commodo. Nulla et lobortis velit. Maecenas aliquam nulla eros, vitae rhoncus erat fermentum ac. Proin iaculis vel nulla et finibus. Suspendisse sed dolor libero. Nunc pellentesque in ipsum sit amet tempus.
                        </p>
                        <p>

                            Nullam convallis lobortis commodo. Nulla et <strong>lobortis velit</strong>. Maecenas aliquam nulla eros, vitae rhoncus erat fermentum ac. Proin iaculis vel nulla et finibus. Suspendisse sed dolor libero. Nunc pellentesque in ipsum sit amet tempus.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="tabled-info-holder">
                        <ul class="info-holder">
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-envelope"></i>
                                    <span>info@example.com</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-twitter"></i>
                                    <span>Twitter: <a href="#">@example</a></span>
                                </div>
                            </li>

                        </ul>

                        <ul class="info-holder">
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Live in: Istanbul,Turkey</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-item">
                                    <i class="fa fa-phone"></i>
                                    <span>+90 (539) 1234567</span>
                                </div>
                            </li>
                        </ul>
                        <div class="social-icons small">
                            <ul>
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-youtube" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-github" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>