<section id="contact" >
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>contact</h1>
        </div>
    </div>

    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row row-contact">

                <div class="col-xs-12 col-md-8">
                    <div class="contact-form-holder">

                        <div class="message-box"></div>

                        <form id="contact-form" class="contact-form " method="post" >




                            <div class="col-xs-12 col-sm-6 no-margin">
                                <div class="control-group">

                                    <div class="controls">


                                        <input  id="cname" data-placeholder="Your Name*" name="name" size="25" class="le-input  required col-xs-12"  />

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 no-margin">
                                <div class="control-group">

                                    <div class="controls">


                                        <input id="cemail" data-placeholder="Your Email*" name="email" class="le-input  required email col-xs-12" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12  no-margin">
                                <div class="control-group">

                                    <div class="controls">


                                        <input  id="subject" data-placeholder="Subject" name="subject" size="25" class="le-input col-xs-12"  />

                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 no-margin">
                                <div class="control-group">

                                    <div class="controls">


                                        <textarea id="ccomment" class=" le-input col-xs-12 no-margin" name="message" rows="9"  cols="5" data-placeholder="Message" ></textarea>


                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12 no-margin">
                                <div class="button-holder">
                                    <input class="submit  le-btn big" type="submit" value="send" />
                                </div>
                                <div id="loading" class="pull-right">
                                    <img alt="" src="assets/images/loader.gif" />
                                </div>
                            </div>





                        </form>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="contact-info">

                        <ul>
                            <li>
                                <label>address:</label> Ataturk Blvd, 6209 St, Suite 877<br>Istanbul,Turkey
                            </li>
                            <li>
                                <label>email:</label> <a href="#">info@example.com</a>
                            </li>
                            <li>
                                <label>phone:</label> <a href="#">+90 555 111 2233</a>
                            </li>
                            <li>
                                <label>fax</label> <a href="#">+90 123 456 7890</a>
                            </li>
                        </ul>

                        <div class="social-icons">
                            <ul>
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-youtube" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>