<section id="portfolio" >
    <div class="sticky-paper-head has-shadow ">
        <div class="content">
            <h1>portfolio</h1>
        </div>
    </div>

    <div class="sticky-paper-body has-shadow " >
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="portfolio-holder">
                        <div id="filters" class="group-selectors">
                            <a class="active" href="#all"   data-filter="*">all</a>
                            <a  href="#advertisement" data-filter=".advertisement">advertisement</a>

                            <a  href="#illustration" data-filter=".illustration">illustration</a>
                            <a  href="#web" data-filter=".web">web</a>

                            <a  href="#branding" data-filter=".branding">branding</a>

                        </div>

                        <div id="portfolio-grid" class="row">
                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item illustration ">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work01.jpg">
                                    <img alt="" src="assets/images/portfolio/work01.jpg"   />
                                </a>
                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            Cartoon Man
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            illustration
                                        </div>
                                    </div>
                                </div>
                            </figure>


                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item advertisement">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work02.jpg">
                                    <img alt="" src="assets/images/portfolio/work02.jpg"   />
                                </a>
                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            The Project
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            advertisement
                                        </div>
                                    </div>
                                </div>
                            </figure>



                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work04.jpg">
                                    <img alt="" src="assets/images/portfolio/work04.jpg"   />
                                </a>

                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            Punch your boss
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            branding
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item advertisement web">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work03.jpg">
                                    <img alt="" src="assets/images/portfolio/work03.jpg"   />
                                </a>
                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            motion picture
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            advertisement
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work05.jpg">
                                    <img alt="" src="assets/images/portfolio/work05.jpg"   />
                                </a>
                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            logo design
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            branding
                                        </div>
                                    </div>
                                </div>
                            </figure>

                            <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding">
                                <a data-rel="prettyphoto" href="assets/images/portfolio/work06.jpg">
                                    <img alt="" src="assets/images/portfolio/work06.jpg"  />
                                </a>
                                <div class="holder">
                                    <div class="paper  has-shadow title">
                                        <div class="content">
                                            animating job #3
                                        </div>

                                    </div>

                                    <div class="paper  has-shadow category">
                                        <div class="content">
                                            branding
                                        </div>
                                    </div>
                                </div>
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>